<% include partials/header %>
<% if(currentUser){ %>
    <div class="save-container">
        <table class="save-load">
            <thead>
                <tr>
                    <th class=save-state id="s1">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> :1 
                    </th>
                    <th class=load-state id="l1 clickable">
                    <a href = "<%= currentUser.saves['s1'].link %>">
                        <%= currentUser.saves['s1'].title %>
                    </a>
                    </th>
                </tr>
                <tr>
                    <th class=save-state id="s2">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> :2
                    </th>
                    <th class=load-state id="l2 clickable">
                    <a href = "<%= currentUser.saves['s2'].link %>">
                        <%= currentUser.saves['s2'].title %>
                    </a>
                    </th>
                </tr>
                <tr>
                    <th class=save-state id="s3">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> :3
                    </th>
                    <th class=load-state id="l3 clickable">
                    <a href = "<%= currentUser.saves['s3'].link %>">
                        <%= currentUser.saves['s3'].title %>
                    </a>
                    </th>
                </tr>
                <tr>
                    <th class=save-state id="s4">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> :4
                    </th>
                    <th class=load-state id="l4 clickable">
                    <a href = "<%= currentUser.saves['s4'].link %>">
                        <%= currentUser.saves['s4'].title %>
                    </a>
                    </th>
                </tr>
                <tr>
                    <th class=save-state id="s1">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> :5
                    </th>
                    <th class=load-state id="l5 clickable">
                    <a href = "<%= currentUser.saves['s5'].link %>">
                        <%= currentUser.saves['s5'].title %>
                    </a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
<% } %>

<div class = "reading-container">
    <p class= "wrap-text title-text">(<span class = "upvote-text"><%= posts.popularity %></span>) <%= posts.title %> - <a class = "author-text" href="/user/<%= posts.author %>"><%= posts.author %></a></p></div>
    
<div class = "reading-container">
    <p class = "reading-header"><strong>Story:</strong></p> 
    <p class = "wrap-text"><%= posts.text %></p>
    <form action = "/read/<%= posts._id %>/upvote" method="POST">
        <button class = "upvote-button"><i class="fa fa-arrow-up" aria-hidden="true"></i>Like</button>
    </form>
</div> 

<div class = "choice-container">
    <form action = "/read" method="GET" id="choice">
        <input type = "hidden" name="parentid" value="<%= posts._id %>">
        <button name = "choiceP" value="A" class="choice-button"><%= posts.choiceA %></button>
        <button name = "choiceP" value="B" class="choice-button"><%= posts.choiceB %></button>
        <% if(posts.choiceC!=""){ %>
            <button name ="choiceP" value="C" class="choice-button"><%= posts.choiceC %></button>
        <% } %>
        <% if(posts.choiceD!=""){ %>
            <button name ="choiceP" value="D" class ="choice-button"><%= posts.choiceD %></button>
        <% } %>
    </form>
</div>

<p class = "back-button"><a class = "back-link" href="/read/<%= posts.parentid %>">Previous Story</a></p>

<h1><a class = "option-container" href="/read/search?parentid=<%= posts.parentid %>&choiceP=<%= posts.choiceP %>">See all versions</a></h1>
<h1><a class = "option-container" href="/read/new?parentid=<%= posts.parentid %>&choiceP=<%= posts.choiceP %>">Write your own version</a></h1>

<button id="comment-collapse">See comments</button>
    <div class="comments-container">
    <form action = "/read/<%= posts._id %>" method="POST">
        <input type="text" name="comment"  placeholder="Submit a comment" pattern=".{3,}" title="Three or more characters" required>
        <input type="hidden" name="parentid" value="<%= posts._id %>">
        <button>Submit</button>
    </form>    
    <% posts.comments.forEach(function(comment){ %>
        <p class = "comment-text"><%= comment.text %></p>
        <p class = "comment-info"> User: <%= comment.author %></p>
        <p class = "comment-info"> Date:
        <%= comment.date.getMonth() + 1%>/<%= comment.date.getDate() %>/<%= comment.date.getFullYear() %>
        </p>
        <p></p> <!-- skip a line -->
    <% }); %>
    </div>


<script src="../scripts/read.js"></script>
<% include partials/footer %>
